<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="pushTodo">Push</button>
        <ul class="todos">
            <li v-for="(todo, index) in todos"
                :key="index">
                {{ todo.title }}
            </li>
        </ul>
        <button @click="addHomePage">Add Homepage</button>
        <ul class="heropy">
            <li v-for="(value, key, index) in heropy"
                :key="index">
                {{ value }}
            </li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                todos : [
                    { title:'아침 먹기'},
                    { title:'점심 먹기'},
                    { title:'저녁 먹기'},
                ],
                heropy:{
                    name: 'HEROPY',
                    age:35,
                    // homepage:'',
                    // email:''
                    //vm.heropy = Object.assign({}, vm.heropy, {homepage:'heropy.blog'});
                }
            },
            
            methods:{
                pushTodo(){
                    // this.todos[3] = {title:'야식 먹기'}
                    // this.todos.push({ title:'야식 먹기'})
                    this.$set(this.todos, this.todos.length, {title:'야식 먹기'})
                },
                addHomePage(){
                    this.$set(this.heropy, 'homepage', 'heropy.blog')
                }
            }
        })
    </script>
</body>
</html>